<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="/aspdotnet/moment3.2/">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" 
          rel="stylesheet">
    <link href="main.css" rel="stylesheet" type="text/css">
    <link rel="icon" href="favicon.png">
    <title>@(ViewData["title"] ?? "Moment 2")</title>
</head>
<body>
<div class="fullscreen">
    <div class="header-wrapper content-width wrapper">
        <header>
            <nav>
                <ul>
                    <li>
                        <a asp-controller="Artist" asp-action="Index">Artist</a>
                    </li>
                    <li>
                        <a asp-controller="Cd" asp-action="Index">CD</a>
                    </li>
                    <li>
                        <a asp-controller="User" asp-action="Index">User</a>
                    </li>
                </ul>
            </nav>
        </header>
    </div>
    <div class="main-wrapper content-width wrapper">
        <main class="wrapper">
            @RenderBody()
        </main>
    </div>
</div>
<footer class="footer-wrapper content-width wrapper">
    <p>Created by Elias Eriksson</p>
    <a href="https://github.com/eliaseriksson/asp3/">repo</a>
</footer>
</body>
</html>