@model CD.Models.Artist

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h2>Artist</h2>
    <hr />
    <dl class="">
        <dt class="">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>
<div class="navigation">
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>
    <a asp-action="Index">Back to List</a>
</div>
