@model CD.Models.User

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>User</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    @if (Model.Lendings == null || Model.Lendings.Count == 0)
    {
        <p>No CDs are borrowed</p>
    }
    else
    {
        foreach (var lending in Model.Lendings) 
        {
            <p>@(lending.Cd?.Title)</p>
        }
    }
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
